<div class="content">
  <!-- with angular material we use 3 colors 
  *Primary
  *Accent
  *Warn -->

  <h1>Angular Material</h1>
  <hr/>
  <!-- Material Buttons -->
  <div>
    <h4>Material Buttons</h4>
    <button mat-button color='primary'>Click Me</button>
    <button mat-raised-button color='accent'>Click Me</button>
    <button mat-stroked-button color='warn'>Click Me</button>
    <button mat-flat-button color='primary'>Click Me</button>

    <button mat-icon-button>Icon</button>
    <button mat-fab>Fab</button>
    <button mat-mini-fab>Mini </button>
  </div>
  <hr/>
  <div>
      <h4>Material Toggle Buttons</h4>
      <mat-button-toggle-group #toggleGroup='matButtonToggleGroup'>
      <mat-button-toggle value='Angular Material'>Angular Material</mat-button-toggle>
      <mat-button-toggle value='Material UI'>Material UI</mat-button-toggle>
      <mat-button-toggle value='Vuetify'>Vuetify</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
  </div>
  <hr/>
  <div>
    <h4>Material Typography</h4>
    <div class="mat-headline">Headline</div>
    <div class="mat-title">Title</div>
    <div class="mat-subheading-2">Subtitle 1</div>
    <div class="mat-subheading-1">Subtitle 2</div>

    <div class="mat-body-1">Body 1</div>
    <div class="mat-body-2">Body 2</div>
    <div class="mat-caption">Caption</div>
  </div>
  <hr/>
  <div>
    <!-- goto Material icon and find then write icon name
    between mat-icon directive -->
    <h4>Material Icons</h4>
    <mat-icon>print</mat-icon>
    <mat-icon>restore</mat-icon>
    <mat-icon>home</mat-icon>
    <mat-icon>computer</mat-icon>
    <mat-icon>http</mat-icon>
    <!-- to make color icon use color property -->
    <mat-icon color='accent'>help</mat-icon>
    <mat-icon color='primary'>history</mat-icon>
</div>
  <div>
    <h4>Material Badges</h4>
    <span matBadge='5'>Notifications</span>

    <!-- Badge Positions -->
    <span matBadge='5' matBadgePosition='below before'>Notifications</span>
    <span matBadge='5' matBadgePosition='below after'>Notifications</span>
    <span matBadge='5' matBadgePosition='above before'>Notifications</span>
    <br/>
    <br/>
    <hr/>

    <!-- Badge Sizes  -->
    <span matBadge='5' matBadgeSize='small'>Notifications</span>
    <span matBadge='5' matBadgeSize='medium'>Notifications</span>
    <span matBadge='5' matBadgeSize='large'>Notifications</span>
    <br/>
    <br/>
    <hr/>

    <!-- Badge Colors  -->
    <span matBadge='5' matBadgeColor='primary'>Notifications</span>
    <span matBadge='5' matBadgeColor='accent'>Notifications</span>
    <span matBadge='5' matBadgeColor='warn'>Notifications</span>
    <br/>
    <br/>
     <hr/>

    <!-- Badge OverLapping  -->
    <span matBadge='5' matBadgeOverlap='false'>Notifications</span>

</div>
<hr/>
<div>
  <h4>Material Progress Spinner</h4 >
  <mat-progress-spinner value='40'></mat-progress-spinner>
  <mat-spinner></mat-spinner>
</div>
<hr/>

<div>
  <h4>Material Navbar</h4 >
  <mat-toolbar>
    <span>Navbar</span>
  </mat-toolbar>
  <br/>
  <!-- with respected color -->
  <mat-toolbar color='primary'>
    <span>Navbar</span>
  </mat-toolbar>
  <br/>
  <!-- with respected color -->
  <mat-toolbar color='accent'>
    <span>Navbar</span>
  </mat-toolbar>
</div>

<hr/>
<div>
<h1>Materila Lists</h1>
<mat-list>
  <mat-list-item>Angular</mat-list-item>
  <mat-list-item>React</mat-list-item>
  <mat-list-item>Vue</mat-list-item>
</mat-list>
</div>

<!-- main div -->
</div>
